@page "/notificationtemplate"
@inherits NotificationTemplatesBase
@using Notification.Models

<div class="content-wrapper">
    <div class="col-sm-12">
        <RadzenCard Style="padding: 0.0rem 0.0rem 0.4rem 0.0rem">
            <MatButton Style="width:18rem;" OnClick="CrtNotificationTemplate" Raised="true">Add notification Template</MatButton>
        </RadzenCard>
        <RadzenGrid AllowPaging="true" AllowSorting="true" Data="@notificationTempatevms" TItem="NotificationTemplateVM">
            <Columns>
                <RadzenGridColumn TItem="NotificationTemplateVM" Context="data" Property="Name" Title="Name" Type="string" Width="20%">
                    <Template>
                        @data.Name
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="NotificationTemplateVM" Context="data" Property="Description" Title="Description" Type="string">
                    <Template>
                        @data.Description
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="NotificationTemplateVM" Context="data" Property="NotificationTypeName" Title="Notification Type" Type="string" Width="15%">
                    <Template>
                        @data.NotificationTypeName
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="NotificationTemplateVM" Context="data" Property="NotificationChannelName" Title="Notification Channel" Type="string"  Width="15%">
                    <Template>
                        @data.NotificationChannelName
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="NotificationTemplateVM" Context="nottemp" Title="Actions" Bubble="false" Filterable="true" Sortable="true" TextAlign="TextAlign.Center" Width="100px">
                    <Template Context="nottemp">
                        <RadzenLink @onclick="@(()=>EditNotificationType($"{nottemp.Id}_{nottemp.NotificationTypeName}_{nottemp.NotificationChannelName}_{nottemp.NotificationTypeId}_{nottemp.NotificationChannelId}"))"
                                    class="fas fa-pencil-alt mr-3" />
                        <RadzenLabel @onclick="@(() => DeleteNotificationTemplate(nottemp.Id))" class="fas fa-trash text-danger" Size="ButtonSize.Small" Style="cursor: pointer" />
                    </Template>
                </RadzenGridColumn>
            </Columns>
        </RadzenGrid>
    </div>
</div>